{% extends 'html/head.html' %}
{% block head %}
{% load static %}
    <div class="panel panel-default" style="margin-top:82px;margin-left:260px;">
        <div class="panel-heading">
            <div class="panel-body">
                <form action="/text_allocation/">
                    <div class="form-group" style="margin-bottom: 2px">
                        <label for="" class="col-md-1 control-label" style="font-size: 1.3em;width: 6%">性别</label>
                        <div class="col-md-1">
                            <select class="form-control" name="male">
                                <option selected="selected"></option>
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                        <label for="" class="col-md-1 control-label" style="font-size: 1.3em;width: 6%">班级</label>
                        <div class="col-md-2">
                            <select class="form-control" name="classes">
                                <option selected="selected"></option>
                                {% for foo in classes %}
                                    <option>{{ foo.classes }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <label for="" class="col-md-1 control-label" style="font-size: 1.3em;width: 6%">民族</label>
                        <div class="col-md-2">
                            <select class="form-control" name="nation">
                                <option selected="selected"></option>
                                {% for foo in nation %}
                                    <option>{{ foo.nation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-block" style="padding: 6px 12px;background-color: #e4cb10;border-color: #d6be0f;">查询<i class=""></i></button>
                        </div>
                    </div>
                </form>

                 <a href="{% url 'excel_export'%}"><button type="button" class="btn-default"> 导出excel</button></a>
                <form action="" class="form-inline pull-right" style="margin-top: -5px">
                    <input type="text" name="query" class="form-control">
                    <button class="btn btn-info" style="padding: 6px 12px;background-color: #5bc0de;border-color: #46b8da;">搜索<i class="fa fa-search"></i></button>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr class="info">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>性别</th>
                    <th>民族</th>
                    <th>班级</th>
                    <th>联系电话</th>
                    <th>宿舍楼</th>
                    <th>宿舍号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in ret %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.student_name }}</td>
                        <td>{{ i.student_no }}</td>
                        <td>{{ i.male }}</td>
                        <td>{{ i.nation }}</td>
                        <td>{{ i.classes }}</td>
                        <td>{{ i.contact }}</td>
                        <td>{{ i.apartment__apartment_no__apartment_name }}</td>
                        <td>{{ i.apartment__dormitoryno }}</td>

                        <td>
                            <a class="btn btn-danger" href="/delete_student/?id={{ i.student_no }}">删除&nbsp;<i
                                    class="fa fa-trash"></i></a>
                            {#                    <a style="margin-right: -80px;margin-left: 20px" class="btn btn-default btn-primary  editbtn"#}
                            {#                       data-id="{{ i.student_no }}" data-toggle="modal" data-target="#myModal">修改<i class="fa fa-edit"></i></a>#}
                            <a style="margin-right: -80px;margin-left: 20px" class="btn btn-primary"
                               href="/edit_student/?id={{ i.student_no }}&male={{ i.male }}">修改 &nbsp;<i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center;margin-top: -20px">
                <nav aria-label="Page navigation">

                    <ul class="pagination">
                        {{ html_str }}

                    </ul>

                </nav>

            </div>
        </div>

    </div>
    <script src="../static/bootstrap-3.3.7-dist/js/setupajax.js"></script>

{% endblock %}